@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap');

//* Colors
$White: #ffffff;
$LightGrey: #ABB8C3;
$Silver:#C7C7C7;
$AmberGrey: #868686;
$DavyGrey:#5B5B5B;
$DarkGrey:#3E3E3E;
$Black:#000000;
$DarkBlue: #003C51;
$MaximumBlue:#49A8BD;
$LightBlue:#62E3FF;



//* Fonts
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;