section.landing__section{
    @include displayPosition($direction: row, $j-content: center);
    height: 65rem;
    width: 100%;
    @media screen and (max-width: 1600px) {
        height: 80rem;
    }
    div.intro{
        @include displayPosition($direction: row,$j-content: space-evenly, $align-i: center);
        width: 70%;
            @media screen and (max-width: 1600px) {
                @include displayPosition($direction: column, $j-content: space-evenly, $align-i: center);
            }
        div{
            @include displayPosition($direction: column, $align-i: center);
            width: 40%;
            display: flex;
            @media screen and (max-width: 1600px) {
                width: 100%;
            }
            h1{
                @include TextStyling($family: $oswald, $size: 48px, $weight: 700, $color: $DarkBlue);
                text-align: center;
                margin-bottom: 5rem;
            }
            button{
                @include Btn__With--border;
            }
        }
        div{
            div.circle-1{
                @include CircleStyling($color: $DarkBlue, $size: 360px, $top: 47%, $left: 60%);
                @media screen and (max-width: 1600px) {
                    @include CircleStyling($color: $DarkBlue, $size: 360px, $top: 90%, $left: 40%);
                }
            }
            img{
                position: relative;
                width: 620px;
                height: 620px;
                border-radius: 50rem;
                object-fit: cover;
                // @media screen and (max-width: 1200px) {
                //     width: 100px;
                // }
            }
            div.circle-2{
                @include CircleStyling($color: $LightBlue, $size: 480px, $top: 95%, $left: 70%);
                @media screen and (max-width: 1600px) {
                    @include CircleStyling($color: $LightBlue, $size: 480px, $top: 120%, $left: 65%);
                }
            }
        }
    }
}