section.about_landing {
    @include displayPosition($direction: column, $j-content: normal, $align-i: center);

    img {
        border-radius: 200px;
        margin-bottom: 1rem;
    }

    h1 {
        @include TextStyling($family: $oswald, $size: 48px, $weight: 700, $color: $DarkBlue);
    }

    div.grid-container {
        padding: 30px;
        font-size: 40px;
        width: 50%;
        background: white;
        display: block;
        
        
       

        div.grid-item {

            background-color: white;
            padding: 20px;
            margin-top: 20px;

            // box-shadow: 1px 1px 5px rgb(179, 179, 179);
            h4 {
                @include TextStyling($family: $oswald, $size: 32px, $weight: 400, $color: $LightBlue);
            }

            p {
                @include TextStyling($family: $open-sans, $size: 17px, $weight: 400, $color: $Black);
            }
        }
    }
}