@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

body{
    section{
        width: 100%;
        @include displayPosition($direction: row, $j-content: center, $align-i: center);
        div{
            width: 80%;
            @include displayPosition($direction: row, $j-content: center, $align-i: center);
            div.floorplan__info{
                @include displayPosition($direction: column, $j-content: center, $align-i: center);
                h2{
                    @include TextStyling($family: $oswald, $size: 36px, $weight: 700, $color: $DarkBlue);
                }
                p{
                    margin: 5rem 0rem 5rem 0rem;
                    @include TextStyling($family: $open-sans, $size: 20px, $weight: 400, $color: $Black);
                }
                button{
                    @include Btn__With--border;  
                }
            }
            div.floorplan__img{
                svg{
                    // height: 10rem;
                    // width: 10rem;
                    text.Workshop__Btn{
                        padding: 1rem;
                    }
                }
            }
        }
    }
}