section.banner {
  div.banner {
    width: 100%;
    height: 20%;
    padding: 2rem;
    @include displayPosition($direction: column, $j-content: center, $align-i: center);
    background-color: $MaximumBlue;
    h1 {
      @include TextStyling($family: $oswald, $size: 64px, $weight: 600, $color: $White);
    }
    h5 {
      @include TextStyling( $family: $oswald, $size: 32px, $weight: 400, $color: $White
      );
    }
  }
}

.survey-form {
  background-color: #fff;
  width: 500px;
  margin: 1.5rem auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  h1 {
    box-sizing: border-box;
    @include TextStyling(  $family: $oswald, $size: 24px, $weight: 400, $color: $DarkBlue);
    margin: 0;
    padding: 35px 25px 25px 25px;
    i {
      padding-right: 10px;
      font-size: 24px;
    }
  }
  p,
  div.text {
    @include TextStyling( $family: $open-sans, $size: 24px, $weight: 400, $color: $DarkBlue);
    padding: 1rem;
    text-align: center;
  }
  .fields {
    position: relative;
    padding: 20px;
    .wrapper {
      @include displayPosition($j-content: space-between);
      > div {
        width: 100%;
      }
      .gap {
        width: 35px;
      }
    }
    h4 {
      @include TextStyling($family: $open-sans, $size: 16px, $weight: 400, $color: $DarkBlue);
    }
    p {
      @include TextStyling( $family: $open-sans, $size: 16px, $weight: 400, $color: $DarkBlue);
    }
  }
  select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #c7c9cb 50%),
      linear-gradient(135deg, #c7c9cb 50%, transparent 50%),
      linear-gradient(to right, #dfe0e0, #dfe0e0);
    background-position: calc(100% - 20px) 20px, calc(100% - 15px) 20px,
      calc(100% - 40px) 10px;
    background-size: 5px 5px, 5px 5px, 1px 25px;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    flex-basis: 100%;
    height: 47px;
    option {
      &:first-child {
        display: none;
      }
    }
    &:focus {
      border: 1px solid #c6c7c7;
    }
    &:invalid {
      color: #858688;
    }
  }
  .buttons {
    @include displayPosition( $direction: row, $j-content: space-between, $align-i: normal);
    padding: 20px;
    border-top: 1px solid #eceff2;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $MaximumBlue;
    @include TextStyling($size: 14px, $weight: 700);
    color: $White;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 5px;
    text-decoration: none;
    &:hover {
      background-color: $LightBlue;
    }
  }
  input {
    background-color: transparent;
    padding: 0rem 1rem;
    border: 1px solid $MaximumBlue;
    color: $MaximumBlue;
    &:hover {
      border: 1px solid $LightBlue;
      color: $LightBlue;
    }
  }
  .field {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    i {
      position: absolute;
      color: $White;
      top: 25px;
      left: 15px;
      z-index: 10;
      ~ {
        input {
          padding-left: 45px !important;
        }
      }
    }
  }
  label {
    @include TextStyling($size: 16px, $weight: 600, $color: $AmberGrey);
  }
  .responses {
    padding: 15px;
    margin: 0;
  }
  .steps {
    position: relative;
    @include displayPosition($j-content: space-between);
    margin-top: 10px;
    width: calc(100% - 35px);
    align-self: center;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $LightGrey;
      margin: auto 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
    .step {
      width: 25px;
      height: 25px;
      background-color: $White;
      border: 3px solid $Silver;
      border-radius: 50px;
      z-index: 1;
    }
    .step.current {
      background-color: #8cc6f2;
    }
    .step.complete {
      background-color: #6ecba4;
    }
  }
  .rating {
    @include displayPosition( $j-content: space-between);
    padding: 5px 0;
    input[type="radio"] {
      &:checked {
        position: absolute;
        left: -9999px;
        + {
          label {
            @include displayPosition($j-content: center, $align-i: center);
            position: relative;
            font-size: 14px;
            width: 31px;
            height: 31px;
            cursor: pointer;
            color: $AmberGrey;
            z-index: 10;
            color: $White;
            &:before {
              content: "";
              position: absolute;
              width: 30px;
              height: 30px;
              border: 1px solid $MaximumBlue;
              border-radius: 100%;
              background: $White;
              z-index: -1;
            }
            &:after {
              content: "";
              position: absolute;
              width: 31px;
              height: 31px;
              border-radius: 100%;
              background: $MaximumBlue;
              z-index: -1;
              opacity: 1;
            }
          }
        }
      }
      &:not(:checked) {
        position: absolute;
        left: -9999px;
        + {
          label {
            @include displayPosition($j-content: center, $align-i: center);
            position: relative;
            @include TextStyling($size: 16px, $color: $AmberGrey);
            width: 31px;
            height: 31px;
            cursor: pointer;
            z-index: 10;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 30px;
              height: 30px;
              border: 1px solid #dfe0e0;
              border-radius: 100%;
              background: $White;
              z-index: -1;
            }
            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 31px;
              height: 31px;
              border-radius: 100%;
              background: $MaximumBlue;
              z-index: -1;
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .rating-footer {
    @include displayPosition( $j-content: space-between);
    font-size: 14px;
    color: $LightGrey;
    padding: 15px 0 25px;
  }
  .group {
    @include displayPosition( $j-content: center);
    flex-flow: column;
    padding-bottom: 15px;
    label {
    @include displayPosition( $align-i: center);
      font-weight: 500;
      height: 25px;
      padding-bottom: 5px;
    }
    input[type="radio"] {
      appearance: none;
      display: inline-flex;
      cursor: pointer;
      width: 16px;
      height: 16px;
      padding: 2px;
      background-clip: content-box;
      border: 1px solid #dfe0e0;
      background-color: #eef1f1;
      border-radius: 50%;
      margin-right: 10px;
      &:hover {
        border: 1px solid #d2d3d3;
      }
      &:checked {
        border: 1px solid #d2d3d3;
        background-color: #2996ed;
      }
    }
    input[type="checkbox"] {
      appearance: none;
      display: inline-flex;
      cursor: pointer;
      width: 16px;
      height: 16px;
      padding: 2px;
      background-clip: content-box;
      border: 1px solid #dfe0e0;
      background-color: #eef1f1;
      border-radius: 50%;
      margin-right: 10px;
      border-radius: 0;
      &:hover {
        border: 1px solid #d2d3d3;
      }
      &:checked {
        border: 1px solid #d2d3d3;
        background-color: #2996ed;
      }
    }
  }
  .step-content {
    display: none;
  }
  .step-content.current {
    display: block;
  }
}
